<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Article title</label>
        <div class="input-group col-sm-5">
            <input class="form-control" id="focusedInput" type="text" placeholder="e.g. Kanye West" ng-model="articleTitle">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Analyze" ng-click="getArticleAnalysis()">
                    </span>
        </div>
    </div>
</form>