<span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Back"
                   ng-click="">
        </span>
<div ng-controller="articleController" ng-if="articleTitle">
        <input type="submit" class="btn btn-primary col-sm-2" value="Prev">
        <h3 class="col-sm-6">{{articleTitle}}</h3>
        <input type="submit" class="btn btn-primary col-sm-2" value="Next">
    <h3>{{analysisTime}}</h3>
    <canvas style="width:80%;height:10%;maintainAspectRatio: false" id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels">
    </canvas>

    <!-- SHOW OFF OUR FORMDATA OBJECT -->


</div>