<form class="form-horizontal app-center" role="form">


<div class="row">
<div class="container col-sm-6" id="container1">
    <label class="control-label"><h4>Search article title</h4></label>
    <input class="form-control" id="focusedInput" type="text" placeholder="e.g. Kanye West" ng-model="inputTitle">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Analyze" ng-click="getArticleAnalysis()">
                </span>
</div>
<div class="container col-sm-6" id="container2">
        <span class="input-group-btn">
            <input type="submit" style="margin-top: 30px" class="btn btn-primary btn-lg" value="Random Article"
                   ng-click="getRandomArticleAnalysis()">
        </span>
</div>
</div>
<div class="row">
<div class="container col-sm-6" id="container3">
        <div ng-controller="homeController">
            <div class="row"><label class="control-label"><h4>Upload file</h4></label></div>

            <div class="row"><label value="Upload File" class="custom-file-upload">
                <input type="file" on-read-file="showContent($fileContent)"/>
            </label>
            </div>
            <div ng-if="content">
                <h2>File content is:</h2>
                <pre>{{ content }}</pre>
            </div>
        </div>
    </div>
<div class="container col-sm-6" id="container4">
        <!-- Slide THREE -->
        <div class="slideThree" style="margin-top: 40px">
            <input type="checkbox" value="None" id="slideThree" name="check" />
            <label for="slideThree"></label>
        </div>
        <h4>Ignore common words</h4>
    </div>
</div>
    <br>
    <br>
    <div ng-controller="homeController" ng-if="articleTitle">
        <h3 style="text-align: center">{{articleTitle}}</h3>
        <canvas id="bar" class="chart chart-bar"
                chart-data="data" chart-labels="labels">
        </canvas>
    <br>
        <br>
    </div>
</form>
