<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Article title</label>
        <div class="input-group col-sm-5">
            <input class="form-control" id="focusedInput" type="text" placeholder="e.g. Kanye West" ng-model="articleTitle">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Analyze" ng-click="getArticleAnalysis()">
                    </span>

            </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form>
            <label>Ignore common words (articles,prepositions etc)</label>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="ignoreCommon" ng-model="formData.ignoreCommon">
                </label>
            </div>
            <!-- =============================================== -->
            <!-- ALL OUR CHECKBOXES AND RADIO BOXES WILL GO HERE -->
            <!-- =============================================== -->

            <!-- SUBMIT BUTTON (DOESNT DO ANYTHING) -->

        </form>



        <!-- SHOW OFF OUR FORMDATA OBJECT -->
    <pre>
        {{ formData }}
    </pre>

    </div>
</form>